@font-face {
  font-family: "Dourado";
  src: url("../fontes/pretaportercontrast-bold.ttf") format(truetype);
  font-weight: normal;
}

@font-face {
  font-family: "Adobe";
  src: url("../fontes/adobe-caslon-regular.otf") format(opentype);
  font-weight: normal;
}
* {
  font-family: "Adobe", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}
.banner {
  max-width: 100wh;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), (rgba(0, 0, 0, 0.4)));
  background-position: center;
  background-size: center;
  font-family: "adobe";
}

.navbar {
  width: 90%;
  padding: 30px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 160px;
  margin-top: -10px;
  cursor: pointer;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 20px;
}
.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  padding: 15px;
  border-radius: 50px;
}
li a:hover {
  background: white;
  transition: 0.5s;
}
.navbar a:hover {
  color: black;
}
.content {
  width: 100%;
  position: absolute;
  color: white;
  top: 45%;
  transform: translateY(-50%);
  text-align: center;
}
.content h1 {
  margin-top: 80px;
  font-size: 90px;
  font-weight: 800;
}
button {
  width: 200px;
  padding: 15px;
  margin: 20px 5px;
  text-align: center;
  border-radius: 25px;
  color: rgb(3, 3, 3);
  border: 2px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
}
button:hover {
  background: #e2a338;
  transition: 0.5s;
}
button:hover {
  color: rgb(0, 0, 0);
}
.banner video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media only screen and (min-width: 768px) {
  .banner video {
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 767px) {
  .banner video {
    width: 100%;
    height: auto;
  }
}
.a {
  text-decoration: none;
  color: black;
  border: 0.5px solid #000000;
  border-radius: 30px;
  padding: 3px;
  font-size: 7.5px;
  background-color: sil;
  opacity: 0.5;
  font-weight: 1.5em;
}
.a:hover {
  background-color: rgb(49, 49, 49);
  color: white;
  transition: 0.7s;
}
/* Cards */
.centro {
  width: 30wh;
  height: 50vh;
}
.centro h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Adobe";
  font-size: 50px;
  padding-top: 20px;
  background: #ecebe2;
}
.grupo {
  display: flex;
  flex-wrap: wr;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #ecebe2;
}
.card {
  position: relative;
  width: 450px;
  /* height: 190px; */
  height: 530px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  /* transition: 0.5s; */
  margin: 30px;
}
/* .card:hover 
{
    height: 450px;
} */
.imgBx {
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  width: 180px;
  height: 180px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  /* transition: 0.5s; */
}
/* .card:hover .imgBx{
    width: 250px;
    height: 250px;
} */
.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.card .content .detalhes {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  padding-top: 100px;
}
.card .content .detalhes h2 {
  font-size: 1.25em;
  font-weight: 600;
  color: #555;
  line-height: 1.2em;
}
.card .content .detalhes h2 span {
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.5;
}
.card .content .detalhes .data {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding-top: 10px;
}
.card .content .detalhes .data p {
  font-size: 1em;
  color: #555;
  line-height: 1.2em;
  font-weight: 600;
}
/* .card .content .detalhes .data h3 span {
    font-size: 0.85em;
    font-weight: 400;
    opacity: 0.5;
} */
.card .content .detalhes .actionBtn {
  display: flex;
  justify-content: center;
   /* gap: 20px;  */
} 
.card .content .detalhes .actionBtn button {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 500;
  background: #003152;
  color: #fff;
  cursor: pointer;
}
/* Depoimento */
.container {
  display: flex;
  margin-top: 50vh;
  background: #003152;
}
.main .container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dourado";
  font-size: 100px;
  color: #ffffff;
}
.main .container h3 {
  color: #ffffff;
}

/* carrossel */
.carousel {
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 5vh;
}
.slider {
  width: 800px;
  height: 500px;
  padding: -2vw;
  border-radius: 10px;
  overflow: hidden;
}
.slides {
  width: 500%;
  height: 500px;
  display: flex;
}
.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}
.slide img {
  width: 800px;
  height: 500px;
}
/* css navegador manual */

.navegador-manual {
  position: absolute;
  width: 800px;
  margin-top: 29px;
  display: flex;
  justify-content: center;
}
.manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  background: #40d3dc;
}
#radio1:checked ~ .first {
  margin-left: -0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}

/* css navegador auto */

.navigator-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 530px;
}
.navigator-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigator-auto div:not(:last-child) {
    margin-right: 40px;
}
#radio1:checked ~ .navigator-auto .auto-btn1 {
    background: #40d3dc;
}
#radio2:checked ~ .navigator-auto .auto-btn2 {
    background: #40d3dc;
}
#radio3:checked ~ .navigator-auto .auto-btn3 {
    background: #40d3dc;
}
#radio4:checked ~ .navigator-auto .auto-btn4 {
    background: #40d3dc;
}





/* Footer */
:root {
  /* --color-neutral-0: #023c63; */
  --color-neutral-10: #003152;
  --color-neutral-30: #fff;
  --color-neutral-40: #ff9f1c;
  --color-neutral-50: #ff9f1c;
}
footer {
  width: 100%;
  color: var(--color-neutral-40);
  margin-top: 100px;
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem 3.5rem;
}

#footer_contacts img {
  width: 250px;
  padding-bottom: 2rem;
}
#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
  margin-left: 10rem;
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-50);
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_social_media .footer-link i {
  font-size: 2rem;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

/* #instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
} */

.footer-list {
  display: flex;
  flex-direction: column;
  margin-left: 15rem;

  gap: 0.75rem;
  list-style: none;
}

.footer-list .footer-link {
  color: var(--color-neutral-30);
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: #7f37c9;
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#footer_subscribe p {
  color: var(--color-neutral-30);
}

#input_group {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-0);
  border-radius: 4px;
}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
}

/* #input_group button {
  background-color: #7f37c9;
  border: none;
  color: var(--color-neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
} */

#input_group button:hover {
  opacity: 0.8;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-10);
  font-size: 0.9rem;
  font-family: "Adobe";
  padding: 1.5rem;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
};