#navbar {
  height: 50vh;
  background-image: url(mar.jpg);
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

.color {
  color: #efb810;
}

.a {
  text-decoration: none;
  color: black;
  border: 0.5px solid #000000;
  border-radius: 30px;
  padding: 3px;
  font-size: 7.5px;
  background-color: sil;
  opacity: 0.5;
  font-weight: 1.5em;
}
.a:hover {
  background-color: rgb(49, 49, 49);
  color: white;
  transition: 0.7s;
}
#logo {
  width: 700px;
  height: 300px;
}
.main {
  align-items: center;
  background-color: rgb(233, 225, 188);
  margin-top: 100px;
}

#Excursões {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 20px;
  
}
section {
  width: 200px;
  height: 150px;
  padding-top: 50px;
  /* overflow: auto; */
  text-align: center;
  justify-content: space-around;
}

#img {
  width: 333px;
  height: 338px;
  border-radius: 2000px;
}
