#img1{
    background-image: 100%;
}
header{
   width: 100%;
}


body{
    background-color: #ffffff;
}




.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

/* #img1{
    width: 50%;
    border-radius: 5%;
   
} */

#txt1{
    margin-top: 120px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: larger ;
}


#img2{
    width: 20%;
    border-radius: 5%;
    margin-left: 20%;
}

#txt2{
    /* margin-top: 120px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: larger ; */
   
}


#txt3{
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    font-size: larger ;
}




#txt4{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: larger ;
}

.btn-saiba-mais{
    justify-content: center;
    display: flex;
    align-items: center;
}



#txt5{

}
#txt6{

}
#txt7{

}
#txt8{

}
#txt9{

}
#txt10{

}
#txt11{

}
#txt12{

}
#txt13{

}
#txt14{

}

#img3{

}
#img4{

}
#img5{

}
#img6{

}
#img7{

}
#img8{

}
#img9{

}
#img10{

}
#img11{

}
#img12{
    
}














