@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');





.abc{
  background-color: #003152;
}

.conteudo{
  display: grid;
  grid-template-columns: (1, 1fr);
  grid-template-rows:repeat(1, 1fr) ;
  grid-gap: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}


.ttl{
  color: #ff9f1c;
  text-align: center;
  font-size: 4rem;
  margin-left: 5rem;
}


.txt{
  margin-left: 6rem;
  margin-right: 2.2rem;
  margin-top: 4rem;
  font-size: 2rem ;
  text-align: center;
  color: #fff;
}

.img2{
  width: 70rem;
   height: 35rem;
   border-radius: 1.8rem;
   margin-left: 20rem;
   margin-bottom: 4rem;
}

.conteudo1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.img3{
  width: 45rem;
  height: 30rem;
  border-radius: 1.8rem;
  margin-right: 6rem;
  margin-left: 10rem;
}

.txtsomos{
  font-size: 2rem ;
  text-align: center;
  color: #003152
}


/* .add{
  text-align: center;
}

.addimg{
  width: 105rem;
  
  
} */






.conteudo2{
  background-color: #003152;
}

.msv{
 
background: #FFFAD6;
margin-top: 2rem;

}


.ttl1{
  color: #ff9f1c;
  text-align: center;
  font-size: 4rem;
  margin-left: 5rem;
 
}



.addcard1{
  
  margin-top: 4rem;
  margin-bottom: 4rem;
}


.msv1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.img4{
  width: 40rem;
  height: 25rem;
  margin-left: 3rem;
  border-radius: 1.8rem;
}

.txtmsv{
  margin-top: 4rem;
  color: #fff;
  font-size: 2rem;
}


.txtmsv1{
  margin-bottom: 2rem;
 
  font-size: 2rem ;
  text-align: center;
  color: #fff;
}



/* .addtxt{
  text-align: center;
}


.txt2{
  font-size: 2rem ;
  text-align: center;
  color: #003152
}


.card3{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.img5{
  width: 45rem;
  height: 30rem;
  border-radius: 1.8rem;
  margin-right: 6rem;
  margin-left: 6rem;
}


.img6{
  border-radius: 1.8rem;
}


.division{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.txt3{
  font-size: 2rem ;
  text-align: center;
  color: #003152
}



.imgfacul{
  margin-left: 8rem;
}


.img7{
  width: 30rem;
  height: 20rem;
}


.img8{
  width: 30rem;
  height: 20rem;
}


.img9{
  width: 30rem;
  height: 20rem;
} */


.conteudo3{
  background-color: #003152;
}


.conteudo4{
  background-color: #003152;
}




/* Footer */
:root {
    /* --color-neutral-0: #023c63; */
    --color-neutral-10: #003152;
    --color-neutral-30: #fff;
    --color-neutral-40: #ff9f1c;
    --color-neutral-50: #ff9f1c;
  }
  footer {
    max-width: 100%;
    color: var(--color-neutral-40);
    margin-top: 100px;
  }
  
  .footer-link {
    text-decoration: none;
  }
  
  #footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 2rem;
  }
  
  #footer_contacts img {
    width: 230px;
    padding-bottom: 2rem;
  }
  #footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
    margin-left: 2rem;
  }
  
  #footer_social_media .footer-link {
    display: flex;
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-50);
    border-radius: 50%;
    transition: all 0.4s;
  }
  
  #footer_social_media .footer-link i {
    font-size: 2rem;
    color: var(--color-neutral-40);
  }
  
  #footer_social_media .footer-link:hover {
    opacity: 0.8;
  }
  .footer-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 5rem;
  
    gap: 0.75rem;
    list-style: none;
  }
  
  .footer-list .footer-link {
    color: var(--color-neutral-40);
    transition: all 0.4s;
  }
  
  .footer-list .footer-link:hover {
    color: #7f37c9;
  }
  
  #footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  #footer_subscribe p {
    color: var(--color-neutral-10);
  }
  
  #input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-50);
    border-radius: 4px;
  }
  
  #input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
  }
  
  #input_group button:hover {
    opacity: 0.8;
  }
  
  #footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-10);
    font-size: 0.9rem;
    font-family: "Adobe";
    padding: 1.5rem;
    font-weight: 100;
  }

@media(max-width:768px){
    body{
        font-size: 1rem;
        
    }

    .conteudo{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(1,1fr);
       

    }

    .ttl{
        text-align: center;
        font-size: 3rem;
        
       margin-left: 1rem;
    }

    .txt{
        margin-top: 2rem;
        
        
        font-size: 1.5rem;
        text-align: center;
        margin-left: 4rem;

    }

        .img2{
     
          margin-left: 4rem;
            width: 14rem;
        height: 5rem;
        }

        .conteudo1{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: (1,1fr);
        margin: bottom 10rem;
        }

        
        .img3{
          margin-left: 3rem;
            width: 12rem;
        height: 8rem;
        grid-row: 1/2;
        
        }

        /* .txt{
          margin-top: 2rem;       
          font-size: 1.5rem;
          text-align: center;
          margin-left: 3rem;
          grid-row: 2/3;
      } */


      /* .add{
        text-align: center;
      }
      
      .addimg{
        width: 20rem;
      }

.item{
  text-align: center;
  width: 48rem;
} */


.ttl1{
 margin-left: 2rem;
 font-size: 1.5rem;
}


.msv1{
  display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(1,1fr);
}


.img4{
  margin-left: 3rem;
            width: 14rem;
        height: 8rem;
        
}


.txtmsv{
  margin-top: 2rem;       
          font-size: 1.5rem;
          text-align: center;
          margin-left: 1rem;
}


.txtmsv1{
  font-size: 1.5rem;
          text-align: center;
          margin-top: 3rem;
}


/* .card3{
  display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2,1fr);
}

.img5{
  width: 20rem;
  height: 15rem;
  margin-left: 15rem;
}


.img6{
  width: 20rem;
  height: 15rem;
  margin-left: 15rem;
}



    #division{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(1,1fr);
      

    }
    .txt8{
        grid-row:1/2 ;
        font-size: 1.5rem;
        margin-bottom:4rem ;
        margin-right: 6rem;
    }
.imgfacul{
  margin-left: 2rem;
}


    .img7{
        
        width: 20rem;
    height: 15rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 12rem;
    }

    .img8{
        width: 20rem;
    height: 15rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 5rem;
    }
    .img9{
      width: 20rem;
      height: 15rem;
      
        margin-top: 1rem;
        margin-bottom: 1rem;
    } */
}




@media screen and (max-width: 426px) {
    * #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
  }



