@font-face {
    font-family: 'Dourado';
    src: url('../fontes/pretaportercontrast-bold.ttf') format(truetype);
    font-weight: normal;
}

@font-face {
    font-family: 'Adobe';
    src: url('../fontes/adobe-caslon-regular.otf') format(truetype);
    font-weight: normal;
}

main {
    background-color: #F7F7F2;
    margin: 0;
}

:root {
    --color-neutral-0: #023c63;
    --color-neutral-10: #003152;
    --color-neutral-30: #fff;
    --color-neutral-40: #ff9f1c;
    --color-neutral-50: #ff9f1c;
}

header {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 40em;
    text-align: center;
}

#headerLogo {
    display: flex;
    align-items: start;
    float: left;
    padding-top: 1%;
}

.navbar-toggler {
    color: var(--color-neutral-30);
    width: 20vw;
    border: 0;
}

#ativo-link {
    color: var(--color-neutral-30);
}

#ativo-link:hover {
    color: var(--color-neutral-40);
}

.nav-link {
    color: var(--color-neutral-30);
    font-family: 'Adobe';
    font-size: 1.5em;
}

.nav-link:hover {
    color: var(--color-neutral-40);
}