@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

@font-face {
    font-family: 'Dourado';
    src: url('../fontes/pretaportercontrast-bold.ttf') format(truetype);
    font-weight: normal;
}

@font-face {
    font-family: 'Adobe';
    src: url('../fontes/adobe-caslon-regular.otf') format(truetype);
    font-weight: normal;
}

main {
    background-color: #F7F7F2;
    margin: 0;
}

:root {
    --color-neutral-0: #023c63;
    --color-neutral-10: #003152;
    --color-neutral-30: #fff;
    --color-neutral-40: #ff9f1c;
    --color-neutral-50: #ff9f1c;
}

header {
    position: relative;
    background-size: cover;
    background-position: center;
    text-align: center;
}



#headerLogo {
    display: flex;
    align-items: start;
    float: left;
    padding-top: 1%;
}

.navbar {
    background-color: var(--color-neutral-10);
}

.navbar-toggler {
    color: var(--color-neutral-30);
    width: 20vw;
    border: 0;
}

#ativo-link {
    color: var(--color-neutral-30);
}

#ativo-link:hover {
    color: var(--color-neutral-40);
}

.nav-link {
    color: var(--color-neutral-30);
    font-family: 'Adobe';
    font-size: 1.5em;
}

.nav-link:hover {
    color: var(--color-neutral-40);
}

.d-block w-100 {
    width: 700vw;
}

.video-capa {
    width: 100%;
}

/* TRÊS CARDS */

.card {
    padding: 1em;
    margin: auto;
    width: 80vw;
}

.card-title {
    text-align: center;
    font-family: 'Adobe';
    font-size: 2em;
    font-weight: bold;
}

.card-text,
p {
    padding-top: 1em;
    font-family: 'Adobe';
    font-size: 1.2em;
    line-height: 1.5em;
}

.ul-primeirocard {
    font-family: 'Adobe';
    font-size: 1.2em;
    line-height: 1.5em;
}

.p-primeirocard {
    color: var(--color-neutral-40);
    font-weight: bold;
    font-size: 2em;
}

.text-card{
    font-size: 0.5em;
}

.img-primeirocardtext {
    width: 26vw;
    height: 80vh;
    border-radius: 1%;
}

.h2-textcard{
    font-size: 1em;
}

#h2-cortext{
    color: var(--color-neutral-40);
}

#carddois-cor {
    color: #FF9F1C;
}

#more-corcarddois{
    background-color: var(--color-neutral-40);
}

#cardtres-cor{
    color: var(--color-neutral-30);
}

#cardtres-licor{
    font-size: 1.1em;
    color: var(--color-neutral-30);
}

#cardtres-more{
    background-color: #F7F7F2;
}

.text-card{
    font-size: 1em;
    line-height: 2em;
}

/* TERMINA TRÊS CARDS */

/* Card que vira*/

.card-cont {
    margin: 0;
}

.campo-card {
    margin-left: 8em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
    height: 100vh;
}

.image {
    background: var(--color-neutral-30);
    position: relative;
    flex: 1;
    max-width: 460px;
    height: 30em;
    margin: 20px;
    overflow: hidden;
    border-radius: 2%;
}



/* .segunda-img{
    width: 30vw;
    height: 60vh;
} */

.image img {
    opacity: 0.8;
    position: relative;
    vertical-align: top;
    transition: 0.6s;
    transition-property: opacity;
}

.image:hover img {
    opacity: 1;
}

.image .details {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color-neutral-10);
    width: 100%;
    height: 100%;

}

.image .details h2 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 70px;
    transition: 0.4s;
    transition-property: transform;
    color: var(--color-neutral-10)
}

.image .details h2 span {
    font-weight: 900;
    font-family: 'Adobe';
}

.image:hover .details h2 {
    transform: translateY(-30px);
}

.image .details li {
    margin: 30px 30px 0 30px;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    transition-property: opacity, transform;
    list-style: none;
    padding-top: 5%;
    color: var(--color-neutral-10)
}

.image:hover .details li {
    opacity: 1;
    transform: translateY(-40px);
}

.more {
    position: absolute;
    background: var(--color-neutral-10);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    bottom: -60px;
    transition: 0.6s;
    transition-property: bottom;
}

.image:hover .more {
    bottom: 0;
}

/* Aqui acaba o card que vira */

/* começo do carrosel */

.swiper {
    width: 100%;
}

.h2-estudantestext {
    padding-top: 1.2em;
    padding-bottom: 2em;
    text-align: center;
    font-family: 'Adobe';
    font-size: 2.8em;
    font-weight: bold;
}

.swiper-wrapper {
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
}

.cardi {
    width: 20em;
    height: 90%;
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, .2);
    padding: 2em 1em;

    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 0 2em;
}

.swiper-slide:not(.swiper-slide-active) {
    filter: blur(0.1em);
}

.cardi__image {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 5px solid var(--color-neutral-40);
    padding: 3px;
    margin-bottom: 2em;
}

.cardi__image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.cardi__content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cardi__title {
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    top: .2em;
}

.cardi__name {
    color: var(--color);
}

.cardi__text {
    text-align: center;
    font-size: 1.1rem;
    margin: 1em 0;
}

.cardi__btn {
    background-color: var(--color);
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: .5em;
    border-radius: .5em;
    margin-top: .5em;
    cursor: pointer;
}

/* termina carrosel */
.h1-primeiro {
    padding-top: -1rem;
}

/* COMEÇO SEGUNDO CARD */

.h2-segundocard {
    padding-top: 1em;
}

.icone-linha {
    color: var(--color-neutral-40);
    margin-right: 0.5em;
}

.li-segundocard {
    padding-top: 1em;
    list-style: none;
    line-height: 3em
}

#img-segundocard {
    width: 30vw;
    height: 70vh;

}

/* TERMINA SEGUNDO CARD */

/* BOTÃO DO SEGUNDO CARD */

.botao-inscrever {
    font: inherit;
    padding: 0.75em 3em;
    background: var(--color-neutral-40);
    border: 0.1em solid var(--color-neutral-40);
    border-radius: 100vw;
    cursor: pointer;
    transition: background-color 250ms;

    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.botao-inscrever:hover,
.botao-inscrever:focus-visible {
    background: var(--color-neutral-40);
}

.botao-inscrever>span {
    position: absolute;
    z-index: -1;
    width: 33.333%;
    height: 100%;

    background: transparent;
    opacity: 0.5;
}

.botao-inscrever> :first-child {
    left: 0;
    top: 0;
}

.botao-inscrever> :last-child {
    right: 0;
    top: 0;
}

.botao-inscrever::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color-neutral-0);
    border: var(--color-neutral-10);
    width: 10%;
    aspect-ratio: 1;
    border-radius: 50%;
    inset: 0;
    margin: auto;
    opacity: 0;

    transition: transform 1000ms 200ms, opacity 200ms;
}

.botao-inscrever:active::before {
    transform: scale(20);
    opacity: 1;

    transition: transform 1000ms, opacity 500ms;
}

.botao-inscrever:has(:first-child:active)::before {
    margin-left: 0;
}

.botao-inscrever:has(:last-child:active)::before {
    margin-right: 0;
}

.botao-inscrever:has(:first-child:active)::before,
.botao-inscrever:has(:last-child:active)::before {
    transition: transform 500ms, opacity 250ms;
}

.link-forms {
    text-decoration: none;
    font-family: 'Adobe';
    font-size: 1em;
    color: var(--color-neutral-30);
}

/* TERMINA BOTÃO DO SEGUNDO CARD */

#rodape-fundo {
    background-color: #003152;
}



/* .container text-center {
    background-color: #003152;
  } */

.imgfooter {
    padding-top: 8%;
    width: 15em;
}

.paragrafoFooter {
    font-family: 'Adobe';
    padding-top: 10%;
    color: var(--color-neutral-40);
}

.footerP {
    padding-top: 5%;
    color: var(--color-neutral-40);
    font-size: 1.5rem;

}

.listaFooter {
    list-style: none;
    line-height: 3rem;
}

.a-mapaSite {
    color: var(--color-neutral-30);
    transition: all 0.4s;
    text-decoration: none;
}

.a-mapaSite:hover {
    color: var(--color-neutral-40);
}

#iconsFooter {
    padding-top: 10rem;
    width: 3em;
    margin-left: 2rem;
}

.imgLogo {
    padding-top: 10rem;
    width: 3.5em;
    margin-left: 2rem;
}

.fi fi-brands-whatsapp {
    color: #FF9F1C;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    color: var(--color-neutral-40);
    font-size: 0.9rem;
    font-family: "Adobe";
    padding: 1.5rem;
    font-weight: 100;
}

.a-icones {
    text-decoration: none;
    width: 20%;
}

.a-icones i {
    font-size: 2.2rem;
}

.fa-brands {
    width: 5rem;
    padding-top: 8rem;

}

#instagram {
    color: var(--color-neutral-40);
}

#facebook {
    color: var(--color-neutral-40);
}

#whatsapp {
    color: var(--color-neutral-40);
}

@media (max-width: 1024px) {

    #descricaoUm {
        width: auto;

    }

    #secaoUm {
        display: grid;
    }

    #iconesUm {
        width: 100vw;
    }

    .imagensQuartoUm {
        height: 10rem;

    }

    #secaoImagensAnuncio {
        padding-top: 1rem;
    }

    .swiper {
        margin-top: 100%;
    }    

    .campo-card{
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 90vw;
    }

    .p-primeirocard {
        font-size: 1.5em;
    }

    .h2-estudantes{
        padding-top: 4em;
    }

    .h2-estudantestext{
        font-size: 1em;
    }

    .details {
        height: 10vh;
    }

    .listaFooter {
        text-align: center;
        width: 90vw;
    }

    .img-footer {
        padding-top: 5%;
        padding-bottom: 8%;
        width: 9%;
    }

    .paragrafoFooter {
        padding-top: 5%;
    }

    .fa-brands {
        padding-bottom: 2.5em;
    }

    .card-text{
        font-size: 2.5em;
    }

    .img-fluid{
        width: 70vw;
        height: 60vh;
    }

    /* .img-segundocardtext{
        width: 72vw;
        height: 60vh;
    } */

    .img-primeirocardtext {
        width: 72vw;
        height: 60vh;
        border-radius: 1%;
    }

    .card-title {
        text-align: center;
        font-family: 'Adobe';
        font-size: 2em;
        font-weight: bold;
    }

    .card-text,
    p {
        font-size: 1em;
        line-height: 1.5em;
    }

    .h2-estudantestext {
        padding-top: 2em;
        padding-bottom: 2em;
        text-align: center;
        font-family: 'Adobe';
        font-size: 2.5em;
        font-weight: bold;
    }

    .ul-segundocard {
        font-size: 1em;
        line-height: 1em;
    }

    .li-segundocard {
        font-size: 1em;
        line-height: 1.5em;
    }

    .ul-primeirocard {
        font-size: 1em;
        line-height: 1.5em;
    }

    .image {
        flex: 100%;
        max-width: 480px;
    }

    .image .details li {
        font-size: 18px;
    }

    .image {
        height: 50vh;

    }
    .secao-card {
        margin: 20px;

    }

    .h2-textcard{
        font-size: 0.8em;
    }

    .text-card{
        line-height: 1em;
    }

    .primeira-img {
        height: 50vh;
    }

    #img-segundocard {
        width: 90vw;
        height: 30vh;
    }

    button {
        margin: 2.5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-toggler{
        margin: 0px;
    }

    .navbar{
        padding-top: -2em;
    }

    .container-fluid{
        padding-top: -5em;
    }

}